@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eee, #C8C7FF);
}

.chatbot-popup{
    width: 420px;
    position: relative;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbot-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: #5350C4;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-info .chatbot-logo {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    fill: #5350C4;
    flex-shrink: 0;
    padding: 6px;
}

.header-info .logo-text{
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chatbot-header #close-chatbot {
    border: none;
    color: white;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    border-radius: 50%;
    background: #5350C4;
    transition: 0.2 ease;
}

.chatbot-header #close-chatbot:hover{
    background: #3d39ac;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}

.chat-body .message {
    display: flex;
    gap: 20px;
    align-items: end;
}


.chat-body .user-message {
    flex-direction: column;
    justify-content: flex-end;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    font-size: 0.9rem;
    background: #f2f2ff;
}

.chat-body .user-message .attachment{
    width: 50%;
    margin-top: -7px;
    border-radius: 13px 3px 13px 13px;
}

.chat-body .bot-message .message-text {
    background: #f2f2ff;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .bot-message .message-text .thinking-indicator{
    display: flex;
    gap: 4px;
    padding-block: 15px;
    background: #f2f2ff;
    padding: 12px 16px;
    border-radius: 13px;
}

.chat-body .bot-message .message-text .thinking-indicator .dot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    background: #5350C4;
    border-radius: 50%;
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chat-body .bot-message .message-text .thinking-indicator .dot:nth-child(1) {
    animation-delay: 0.2;
}

.chat-body .bot-message .message-text .thinking-indicator .dot:nth-child(2) {
    animation-delay: 0.3;
}

.chat-body .bot-message .message-text .thinking-indicator .dot:nth-child(3) {
    animation-delay: 0.4;
}

@keyframes dotPulse {
    0%, 44%{
        transform: translateY(0);
    }
    
    28%{
        opacity: 0.4;
        transform: translateY(-4px);
    }
    
    28%{
        opacity: 0.2;
    }
}

.chat-body .user-message .message-text {
    color: white;
    background: #5350C4;
    border-radius: 13px 13px 3px 13px;
}

.chat-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: white;
    padding: 15px 20px 20px;
}

.chat-footer .chat-form {
    display: flex;
    position: relative;
    align-items: center;
    background: white;
    border-radius: 32px;
    outline: 1px solid #cccce5;
}

.chat-footer .chat-form:focus-within{
    outline: 2px solid #5350C4;   
}

.chat-form .message-input {
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    font-size: 0.95rem;
    padding: 14px 0 13px 18px;
    border-radius: inherit;
    resize: none;
}

.chat-form .chat-controls{
    display: flex;
    height: 47px;
    gap: 3px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
}

.chat-form .chat-controls button{
    height: 35px;
    width: 35px;
    font-size: 1.15rem;
    border: none;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
}

.chat-form .chat-controls #send-message{
    color: white;
    background: #5350C4;
    display: none;
}

.chat-form .message-input:valid~.chat-controls #send-message{
    display: block;
}

.chat-form .chat-controls #send-message:hover{
    background: #3d39ac;
}

.chat-form .chat-controls button:hover{
    background: #f1f1ff;
}

.chat-form .file-upload-wrapper{
    width: 35px;
    height: 35px;
    position: relative;
}

.chat-form .file-upload-wrapper :where(img, button) {
    position: absolute;
}

.chat-form .file-upload-wrapper img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat-form .file-upload-wrapper #file-cancel{
    color: #ff0000;
    background: white;
}

.chat-form .file-upload-wrapper :where(img, #file-cancel),
.chat-form .file-upload-wrapper.file-uploaded #file-upload{
    display: none;
}

.chat-form .file-upload-wrapper.file-uploaded img,
.chat-form .file-upload-wrapper.file-uploaded:hover #file-cancel{
    display: block;
}

em-emoji-picker{
    position: absolute;
    left: 50%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    visibility: hidden;
    transform: translateX(-50%);
}

body.show-emoji-picker em-emoji-picker{
    visibility: visible;
} 